<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donut.curriculum.CurriculumMapper">

    <!-- Curriculum ResultMap -->
    <resultMap id="CurriculumResultMap" type="com.donut.curriculum.CurriculumDTO">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="imagePath" column="image_path" />
        <result property="progress" column="progress" />
        <result property="createDate" column="create_date" javaType="java.time.LocalDate" />
        <result property="completeDate" column="complete_date" javaType="java.time.LocalDate" />
        <result property="deleteDate" column="delete_date" javaType="java.time.LocalDate" />
        <collection property="chapterList" ofType="com.donut.chapter.ChapterDTO" resultMap="ChapterResultMap" />
    </resultMap>

    <!-- Chapter ResultMap -->
    <resultMap id="ChapterResultMap" type="com.donut.chapter.ChapterDTO">
        <id property="id" column="chapter_id" />
        <result property="title" column="chapter_title" />
        <result property="goal" column="chapter_goal" />
        <result property="description" column="chapter_description" />
        <result property="content" column="chapter_content" />
        <result property="summaryNote" column="chapter_summaryNote" />
        <result property="completeDate" column="chapter_completeDate" />
    </resultMap>

    <!-- 커리큘럼 저장 -->
    <insert id="saveCurriculum" parameterType="com.donut.curriculum.CurriculumDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO curriculum (user_id, title, description, image_path, progress, create_date)
        VALUES (#{userId}, #{title}, #{description}, #{imagePath}, #{progress}, #{createDate})
    </insert>

    <!-- 챕터 저장 -->
    <insert id="saveChapters" parameterType="map">
        INSERT INTO chapter (curriculum_id, title, goal, description)
        VALUES
        <foreach collection="chapters" item="chapter" separator=",">
            (#{curriculumId}, #{chapter.title}, #{chapter.goal}, #{chapter.description})
        </foreach>
    </insert>
    <update id="saveImagePath">
        UPDATE CURRICULUM
        SET IMAGE_PATH = #{imagePath}
        WHERE ID = #{curriculumId}
    </update>

    <!-- 커리큘럼과 챕터 조회 -->
    <select id="getCurriculumById" resultMap="CurriculumResultMap">
        SELECT
            c.id as id,
            c.user_id as user_id,
            c.title as title,
            c.description as description,
            c.image_path as image_path,
            c.progress as progress,
            c.create_date as create_date,
            c.complete_date as complete_date,
            c.delete_date as delete_date,
            ch.id as chapter_id,
            ch.title as chapter_title,
            ch.goal as chapter_goal,
            ch.description as chapter_description,
            ch.content as chapter_content,
            ch.summary_Note as chapter_summaryNote,
            ch.complete_Date as chapter_completeDate
        FROM curriculum c
            LEFT JOIN chapter ch ON c.id = ch.curriculum_id
        WHERE c.id = #{id}
    </select>

</mapper>
